div#container
{
    width: 600px;
}

div#header
{
    text-align: center;
    padding-bottom: 20px;
}

div#XYContainer
{
    width:300px;
    text-align: center;
}

div#XY
{
    text-align: left;
    background-color: lightblue;
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

img#green_dot
{
    display: none;
}

div#bottom
{
    text-align: center;
}