div#container {
  width: 375px; }

div#header {
  text-align: center; }

div#XYContainer {
  width: 300px;
  text-align: center; }

div#XY {
  text-align: left;
  background-color: lightblue;
  border: 1px solid black;
  width: 300px;
  height: 300px; }

div#ZContainer {
  padding-left: 20px; }

div#Z {
  text-align: left;
  background-color: lightblue;
  border: 1px solid black;
  width: 20px;
  height: 300px; }

div#bottom {
  padding-top: 10px;
  text-align: center; }
