$XWidth: 400px;

div#container
{
    width: $XWidth + 100px;
}


div#XYContainer
{
    width: $XWidth;
}

div#XY
{
    width: $XWidth;
    height: $XWidth;
}

div#Z
{
    height: $XWidth;
}

#set_kinematics
{
    margin-top: 5px;
}
