div#container {
  width: 600px; }

div#header {
  text-align: center; }

td {
  vertical-align: bottom; }

img {
  position: absolute; }

div#XYContainer {
  width: 500px;
  text-align: center; }

div#XY {
  text-align: left;
  background-image: url("TankMed.png");
  background-size: 100% 100%;
  border: 1px solid black;
  width: 500px;
  height: 500px; }

div#ZContainer {
  text-align: center;
  padding-left: 20px; }

div.waypoint.orange {
  background-image: url("orange_puck.png");
  color: black; }

div.waypoint.black {
  background-image: url("puck.png");
  color: orange; }

div.vslider.orange {
  background-image: url("orange_vslider.png");
  color: black; }

div.vslider.black {
  background-image: url("vslider.png");
  color: orange; }

div.vslider {
  height: 10px;
  background-size: 30px 10px;
  line-height: 10px; }

.vslider span {
  position: relative;
  left: -25px; }

div.waypoint {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  line-height: 30px; }

div#Z {
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  border: 1px solid black;
  width: 20px;
  height: 500px; }

div#bottom {
  padding-top: 10px;
  text-align: center; }

div#buttons1, div#xyz, form#new_waypoint {
  padding: 5px; }

table {
  width: 100%; }

td.right_align {
  text-align: right; }

select, input {
  width: 50%; }

#set_waypoint {
  margin-top: 5px; }
