$XWidth: 500px;

div#container {
  width: $XWidth + 100px; }

div#XYContainer
{
  width: $XWidth;
}

div#XY {
    background-image: url('TankMed.png');
    background-size: 100% 100%;
    width: $XWidth;
    height: $XWidth; }

div.waypoint.orange
{
    background-image: url('orange_puck.png');
    color: black;
    z-index: 10;
}

div.waypoint.black
{
    background-image: url('puck.png');
    color: orange;
}

div.vslider.orange
{
    background-image: url('orange_vslider.png');
    color: black;
    z-index: 10;
}

div.vslider.black
{
    background-image: url('vslider.png');
    color: orange;
}

div.vslider
{
    height: 10px;
    background-size: 30px 10px;
    line-height: 10px;
}

.vslider span
{
    position: relative;
    left: -25px;
}

div.waypoint
{
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    line-height: 30px;
}

div#Z
{
  height: $XWidth;
}

#set_waypoint {
  margin-top: 5px; }
